@import 'styles/mixins';

.settingsItem {
  background: var(--secondary-color);
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-xs);
}

.settingsInfo {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  font-size: 16px;
  align-items: center;

  .icon {
    position: relative;
    width: 50px;
    height: 2rem;
    margin-right: var(--spacing-xs);
  }

  .name {
    display: flex;
    font-weight: bold;
    margin-right: var(--spacing-xs);
    width: 200px;
  }

  .state {
    display: flex;
    align-items: center;

    .stateIcon {
      margin-right: var(--spacing-xs);
    }

    .stateText {
    }
  }

  .actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.settingsDetails {

  .settingsDetailsContent {
    padding: var(--spacing-xxxs);
    padding-top: var(--spacing-sm);
  }

  &.collapsed {
    max-height: 0;
    transition: max-height 1s ease-in-out;
  }

  &.expanded {
    max-height: 500px;
    transition: max-height 1s ease-in-out;
  }
}

.input {
  @include input-style;
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
}

.label {
  font-size: var(--font-size-sm);
}




