@import "styles/mixins";
.overlayContentWrapper {
  background: white;
  padding: var(--spacing-xs) var(--spacing-xs);
  position:absolute;
  top: 230px;// fixme
  left: 20px;// fixme
  z-index: 1;
  border-radius: var(--border-radius-md);
  box-shadow: 5px 5px 10px rgb(188 188 188 / 59%), -1px -1px 2px #fff, 2px 3px 4px #a4a4a4;
  max-width: min-content;
}

.incomingCallContainer {
  max-width: 400px;
  padding: var(--spacing-sm);
  position:absolute;
  z-index: 1;
  border-radius: var(--border-radius-md);
  box-shadow: 5px 5px 10px rgb(188 188 188 / 59%), -1px -1px 2px #fff, 2px 3px 4px #a4a4a4;

  @include frosted-glass;
  background: #2e2b2b;
  color: #fff;

}

.dialNumbers{
  margin: var(--spacing-xs) 0;
  @include flex-center;
  flex-direction: column;
}

.sectionTitle {
  font-size: var(--font-size-xs);
  white-space: break-spaces;
  margin: 0 var(--spacing-xxs);

}

.dialNumbersRow {
  @include flex-between;
  max-width: fit-content;

  & button {
    margin: var(--spacing-xxs);
    height: 30px;
    width: 30px;
    @include flex-center
  }
}

.actionButtonsRow {
  @include flex-between;
  justify-content: space-around;

}

.incomingCall {
  font-weight: bold;
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-sm);
  display: inline-flex;
  flex-wrap: wrap;

  span {
    margin-left: var(--spacing-xxxs);
  }
}