.backButton {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #e8ecfb;
  margin-bottom: 8px;
  transition: transform 0.2s ease-in;

  &:hover,
  &:focus,
  &:active {
    filter: brightness(0.9);
    transform: scale(1.1);
  }
}

.fullScreenModeContainer {
  padding: 0px 40px;
  margin-top: 24px;
}
