.location_header {
  font-size: var(--normal-text);
  margin-bottom: var(--spacing-xxxs);
}

.locations_section {
  margin: var(--spacing-sm) 0;
}
.button_section {
  display: flex;
}
.location_list {
  margin: var(--spacing-xxs) 0;
}
.location_item {
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 8px;
  font-size: var(--font-size-sm);
}
