@import "styles/mixins";
.inputSection {
  display: flex;
  align-items: baseline;
  font-family: var(--font-main);
  padding: 0 0 0.5rem 0;

  h1 {
    font-size: var(--heading-secondary);
    color: var(--text-primary-color);
    margin-right: var(--spacing-md);
  }
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  & > span {
    margin-bottom: 3px;
  }
}
