.dot_flashing_container {
  --flashing-dot-color: #9880ff;
  display: inline-flex;
  cursor: initial;
  align-items: center;
  width: 25px;
  margin-left: var(--spacing-xxxs);
}

.dot_flashing {
  position: relative;
  z-index: 2;
  width: var(--spacing-xxxs);
  height: var(--spacing-xxxs);
  border-radius: 5px;
  background-color: var(--flashing-dot-color);
  color: var(--flashing-dot-color);
  animation: dot_flashing 1s infinite linear alternate;
  animation-delay: 0s;

  &:nth-of-type(2) {
    left: 3px;
    width: var(--spacing-xxxs);
    height: var(--spacing-xxxs);
    border-radius: 5px;
    background-color: var(--flashing-dot-color);
    color: var(--flashing-dot-color);
    animation: dot_flashing 1s infinite alternate;
    animation-delay: 0.5s;
  }
  &:nth-of-type(3) {
    left: 6px;
    width: var(--spacing-xxxs);
    height: var(--spacing-xxxs);
    border-radius: 5px;
    background-color: var(--flashing-dot-color);
    color: var(--flashing-dot-color);
    animation: dot_flashing 1s infinite alternate;
    animation-delay: 1s;
  }
}



@keyframes dot_flashing {
  0% {
    background-color: var(--flashing-dot-color);
  }
  50%,
  100% {
    background-color: color-mix(in srgb,var(--flashing-dot-color),#fff 40%);
  }
}
