@import 'styles/mixins';

.ticketContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: self-start;
  justify-content: space-between;
  flex: 1;
  line-height: 1.5rem;
}

.ticketHeader {
  @include flex-between;
  width: 100%;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 10px;
}

.ticketHeaderStatus {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray-500);
}

.x {
  align-items: center;
  display: flex;
}
