@import '../../../../styles/mixins.scss';

.dropdownWrapper {
  position: relative;
  z-index: 10;
}

.dropdownInput {
  position: relative;
  width: min-content;
  border: unset;
  padding: 3px 7px;
  z-index: 2;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.dropdownMenu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  overflow: auto;
  scroll-behavior: auto;
}

.dropdownMenuItem {
  padding: 2px 7px;
  cursor: pointer;

  &:hover {
    background: var(--punch-red-50);
  }
}

.isSelected {
  font-weight: 700;
}

.isFocused {
  background: var(--punch-red-100);
}

.isEditing {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background: white;
}