.messageContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--spacing-xxxs);
}

.message {
  position: relative;
  text-align: left;
  border-radius: 4px;
  padding: var(--spacing-xxxs) var(--spacing-xxs) var(--spacing-xxxs);
  z-index: 2;
  min-width: 40%;
  width: 60%;
  word-break: break-all;
  white-space: pre-line;
}

.right {
  margin-left: 50px;
  background: var(--gray-200);
}

.left {
  margin-right: 50px;
}

.channelIcon {
  height: 23px;
  width: 23px;
  min-height: 23px;
  min-width: 23px;
  border-radius: var(--border-radius-xs);
  display: flex;
  align-items: center;
  justify-content: center;

  &.channelIconShown {
    background: #71D180;


    &.chatIcon {
      background: #3E6ADE;
    }
  }

  &.chatIcon.channelIconRight,
  &.phoneCall.channelIconRight {
    margin-left: var(--spacing-md);
  }

  &.chatIcon.channelIconLeft {
    margin-right: var(--spacing-md);
  }

  & svg {
    transform: scale(0.8);
    color: white;
  }
}

.singleMessage {
  display: flex;
  margin-bottom: var(--spacing-xxxs);


  &.isright {
    flex-direction: row-reverse;

    & .channelIcon {
      margin-left: var(--spacing-md);
    }
  }

  &.isleft {
    justify-content: flex-start;
    & .channelIcon {
      margin-right: var(--spacing-md);
    }
  }

}
