.idea
.fleet
.vscode
**/.DS_Store

deployment/scripts/openline-setup/*.*

packages/apps/spaces/.env.production
packages/apps/spaces/.sentryclirc

packages/apps/www/node_modules
packages/apps/www/.env
