@import "styles/mixins";
.inputSection {
  display: flex;
  align-items: flex-end;
  font-family: var(--font-secondary);
  padding: 0 0 var(--spacing-lg) 0;

  h1 {
    font-size: var(--heading-secondary);
    color: var(--text-primary-color);
    margin-right: var(--spacing-md);
  }
}

.itemCounter {
  display: flex;
}

.adressesList {
  padding: var(--spacing-xs) var(--spacing-sm);
}
.emailList {
  font-size: var(--font-size-sm);
  padding: var(--spacing-xxs) 0;

  &:not(:last-of-type) {
    border-bottom: var(--border-divider);
  }
}

.orgCell{
  @include flex-between;
  margin-right: var(--spacing-xxs)
}