@import "styles/mixins";
.button {
  padding: var(--spacing-xxxs) var(--spacing-sm);
  border-radius: var(--border-radius-xl);
  font-size: var(--font-size-sm);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  @include button-variants;

  & img,
  & svg {
    margin-right: 4px;
  }

  &.dangerLink {
    color: var(--red-600);
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: var(--red-500);
      text-decoration: underline;
    }
  }


  &.link {
    color: var(--royal-blue-800);
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      color: var(--royal-blue-700);
      text-decoration: underline;
    }
  }

}
