@import 'styles/mixins';
.noteContainer {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 1.3rem;
  font-size: var(--font-size-xxs) !important;
}

.noteContent {
  width: fit-content;
  line-height: 1.3rem;
  font-size: var(--font-size-sm);
  font-weight: normal;
  color: #495057;

  & * {
    width: fit-content;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-word;
  }
}

.pin {
  position: absolute;
  left: 10px;
  top: 8px;
  transform: rotate3d(1, 2, 2, -25deg);
  color: var(--gray-700);
  height: 0.8rem;
}

.note {
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-xxs);
  border: 1px solid var(--gray-200);
}

.noteData {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  @include text-hint;
}

.actions {
  color: var(--gray-700);
  margin-right: -12px;
  margin-bottom: var(--spacing-xxxs);
}

.actionContainer {
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: end;
}
