@import 'styles/mixins';
.noteContainer {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 1.3rem;
  font-size: var(--font-size-xxs) !important;
}

.noteContent {
  width: fit-content;
  line-height: 1.3rem;
  font-size: var(--font-size-sm);
  font-weight: normal;
  color: #495057;

  & a {
    @include link-style;
  }

  & * {
    width: fit-content;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-word;
  }
}

.pin {
  position: absolute;
  left: 10px;
  top: 8px;
  transform: rotate3d(1, 2, 2, -25deg);
  color: var(--gray-700);
  height: 0.8rem;
}

.note {
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-xxs);
  border: 1px solid var(--gray-200);
}

.noteData {
  @include text-hint;
  position: absolute;
  bottom: 4px;
  right: 15px;
}

.actions {
  color: var(--gray-700);
  margin-right: -12px;
  margin-top: -16px;
  margin-bottom: var(--spacing-xxs);
  @include flex-center;
}

.noteWrapper {
  width: 100%;
  height: min-content;
  border: var(--border-divider);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-sm);
}
