@import 'styles/mixins';
.noteContainer {
  display: flex;
  flex:1;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 1.3rem;
  font-size: var(--font-size-xxs) !important;
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-xxs);

}

.noteContent {
  width: -webkit-fill-available;
  line-height: 1.3rem;
  font-size: var(--font-size-xs);
  margin: 0 var(--spacing-xxs);
  font-weight: normal;
  color: #495057;

  & a {
    @include link-style;
  }

  & * {
    width: -webkit-fill-available;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-word;
  }
}

.noteData {
  @include text-hint;
  position: absolute;
  bottom: 4px;
  right: 15px;
}

.actions {
  color: var(--gray-700);
  @include flex-between;
  flex-direction: column;
  align-items: center;

  & button{
    margin-top: var(--spacing-xs);
  }
}

.noteWrapper {
  width: 100%;
  height: min-content;
  border: 1px solid rgba(155, 155, 155, 1);
  border-radius: var(--border-radius-sm);
  position: relative;
  display: flex;
  justify-content: space-between;

  &:after {
    content: '';
    display: block;
    height:5px;
    width: 100%;
    position:absolute;
    background: rgba(244, 230, 156, 1);
    border-top-right-radius: var(--border-radius-sm);
    border-top-left-radius: var(--border-radius-sm);
    top:0;
  }
}
