.panelWrapper {
  width: auto;
  background: transparent;

  &.open {
    background: #fafbff;
    box-shadow: -7px 2px 20px #bbbbbb;
  }
}
.panel {
  width: 0;
  height: 100%;
  transition: width 0.2s ease, transform 0.2s ease;
}

.panelClosed {
  transition-delay: 0.01s;
  transform: translate(-110px);
}
.panelIsOpen {
  max-width: 200px;
  transform: translate(0);
  width: 200px;
}

.content {
  margin-top: 64px;
  transition: opacity 0.1s ease;
}

.contentVisible {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  transition-delay: 0.2s;
}

.contentHidden {
  opacity: 0;
}

.openPanelButton {
  margin: 24px 0 0 12px;
  z-index: 10;
}

.workspaces-list {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.userDataSection {
  padding: 16px 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin: 24px 12px 36px;
}

.userDataEntry {
  color: #525252;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  //margin-bottom: 40px;
  //
  & span {
    margin-right: 4px;
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
  }
}

.signOutButton {
  border: none;
  width: 100%;
  margin-top: 12px;
  padding: 12px 24px;
  background: transparent;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background: #ededed;
  }

  & span {
    margin-left: 12px;
  }
}
