.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: normal;
  // todo change barlow to barlow

  &.labelWithAvatar {
    margin-left: calc(30px + 1rem); // todo change after adding other column avatar length + margin
  }

  &.labelWithIcon {
    margin-left: 24px;
    padding-left: 8px;
  }
}

.label {
  display: flex;
  justify-content: space-between;
}
.headerLabel {
  font-weight: 500;
}
.addressContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-300);
    padding-bottom: var(--spacing-xxxs);
    margin-bottom: var(--spacing-xxxs);
  }
}

.rawAddress {
  display: inline;
}

.addressLocality {
  color: var(--gray-800);
}

.addressRegion {
  color: var(--gray-700);
  font-size: 0.9rem;
  white-space: pre-wrap;
}

.cell {
  width: 100%;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}

.columnCell {
  flex-direction: column;
  align-items: initial;
}

.linkCell {
  text-decoration: none;
  flex-direction: row;
}

.textContent {
  margin-left: var(--spacing-xxs);
  overflow: hidden;
}
.cellData {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  width: 100%;
  display: block;
  color: var(--chakra-colors-gray-700);
}

.subLabel {
  color: var(--chakra-colors-gray-500);
  font-size: var(--font-size-sm);
}

.link {
  color: var(--royal-blue-600);

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
