.button {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline-color: var(--outline-color);
    outline-width: var(--outline-width);
    outline-offset: var(--outline-offset);
  }

  /* VARIANTS */
  // todo determine if its needed
  &.default {
    background: var(--gray-600);
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      outline: none;
    }
  }

  &.primary {
    background: var(--primary-color);
    color: var(--text-on-primary);

    &:hover {
      background: var(--primary-color-hover);
    }
    &:focus {
      background: var(--primary-color-focus);
    }
    &:focus {
      background: var(--primary-color-active);
    }
  }

  &.secondary {
    background: var(--secondary-color);
    color: var(--text-on-secondary);
    &:hover {
      background: var(--secondary-color-hover);
    }
    &:focus {
      background: var(--secondary-color-focus);
    }
    &:focus {
      background: var(--secondary-color-active);
    }
  }

  &.accent {
    background: var(--accent-color);
    color: var(--text-on-accent);

    &:hover {
      background: var(--accent-color-hover);
    }
    &:focus {
      background: var(--accent-color-focus);
    }
    &:focus {
      background: var(--accent-color-active);
    }
  }

  &.text {
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      outline: none;
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  /* SIZES */

  &.xxxs {
    padding: var(--spacing-xxxs);
  }
  &.xxs {
    padding: var(--spacing-xxs);
  }
  &.xs {
    padding: var(--spacing-xs);
  }
  &.sm {
    padding: var(--spacing-sm);
  }
  &.sm {
    padding: var(--spacing-md);
  }
  &.sm {
    padding: var(--spacing-lg);
  }
}
