.button {
  padding: var(--spacing-xxs);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline-color: var(--outline-color);
    outline-width: var(--outline-width);
    outline-offset: var(--outline-offset);
  }

  &.default {
    background: var(--gray-600);
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      outline: none;
    }
  }

  &.primary {
    background: linear-gradient(-45deg, #be8df3, #daa4b7);
    color: white;

    // fixme improve visual
    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(-45deg, #b072f1, #f696b6);
    }
  }

  &.secondary {
    background: var(--secondary-color);
    color: var(--text-on-secondary);
    &:hover {
      background: var(--secondary-color-hover);
      color: var(--gray-800);
    }
    &:focus {
      background: var(--secondary-color-focus);
      color: var(--gray-800);
    }
    &:focus {
      background: var(--secondary-color-active);
      color: var(--gray-800);
    }
  }

  &.text {
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      outline: none;
    }
  }

  &:disabled {
    pointer-events: none;
  }
}


