.colorIndicator {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: var(--spacing-xxs);
}

.selectButton {
  align-items: center;
  display: flex;
  cursor: text;
}

.selectButtonEditable:after {
  content: "";
  width: 1px;
  height: 1rem;
  background: #000;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.placeholder {
  color: #d9d9d9;

  &.placeholderEditable{
    color: darken(#d9d9d9, 20%);
  }
}

.menu {
  left: -7px;
}