.colorIndicator {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.selectButton {
  align-items: center;
  display: flex;
  cursor: text;
  gap: 0;

  & div {
    margin-right: 8px
  }
}

.placeholder {
  color: #d9d9d9;
  user-select: none;

  &.placeholderEditable {
    position: relative;
    color: darken(#d9d9d9, 20%);
  }

}

.menu {
  left: -7px;
}