@import "styles/mixins";

.actionContainer {
  border: 1px solid rgba(182, 182, 182, 1);
  border-left: var(--spacing-xxxs) solid #565656;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius-xs);
  display:flex;
  padding: var(--spacing-xxs) var(--spacing-xxxl) var(--spacing-xxs) var(--spacing-xl);
  justify-self: flex-start;


  & span {
    margin: 0 var(--spacing-xxxs)
  }

  & .visitor {
    font-weight: bold;
  }

}
