/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

[data-theme='dark'] .features [fill="#100024"] {
    fill: #FFFFFF;
}

[data-theme='light'] .features [fill="#100024"] {
    fill: #100024;
}

.features {
    align-items: center;
    padding: 0 5%;
    width: 100%;
}

[data-theme='dark'] .titlepill {
    margin: auto;
    width: min-content;
    padding: 4px 43px 4px 43px;
    border-radius: 100px;
    background-color: var(--ifm-color-primary-lightest);
    font-size: 16px;
    font-weight: bold;
    color: var(--ifm-font-color-base-inverse);
    white-space: nowrap;
}

[data-theme='light'] .titlepill {
    margin: auto;
    width: min-content;
    padding: 4px 43px 4px 43px;
    border-radius: 100px;
    background-color: var(--ifm-color-secondary-dark);
    font-size: 16px;
    font-weight: bold;
    color: var(--ifm-font-color-base);
    white-space: nowrap;
}

[data-theme='light'] .investorcontainer {
    background-color: #f6f5f9;
}

.title {
    font-size: 3rem;
    line-height: 126%;
    text-align: center;
    padding-bottom: 1.5rem;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 126%;
    text-align: center;
}

.betterdatacontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

@media screen and (max-width: 996px) {
    .betterdatacontainer {
      padding-top: 4rem;
      grid-template-columns: 1fr;
    }
}

[data-theme='light'] .betterdatacontainer {
    background-color: #cbcbcb;
}

.window {
    align-items: center;
    padding: 5% 5%;
    width: 100%;
}

.centeredtext {
    text-align: center;
}