@import 'styles/mixins';
.attendeeAutocompleteWrapper {
  max-width: 200px;
  min-width: 150px;
  width: max-content;
  position: absolute;
  background: #ffffff;
  border: 1px solid #a4a4a4;
  color: initial;
  box-shadow: 0 4px 4px 0 #00000040;
  padding: var(--spacing-xxs) 0;
  font-size: var(--font-size-xs);
  z-index: 999;

  &.right {
    border-radius: 0 14px 14px 14px;
    left: 51%;
  }
}

.listDivider {
  font-size: var(--font-size-xs);
  color: #9b9b9b;
  padding: var(--spacing-xxxs) var(--spacing-xxs);
}
.attendeeAutocompleteInput {
  margin: var(--spacing-xxxs) var(--spacing-xxs);
  width: -webkit-fill-available;
}

.suggestionItem {
  display: flex;
  align-items: flex-end;
  font-size: var(--font-size-xs);
  padding: var(--spacing-xxxs) var(--spacing-xxs);

  overflow-x: hidden;

  &.selected {
    align-items: center;
  }

  &.selectable {
    @include list-item-selectable;
    padding: var(--spacing-xxxs) var(--spacing-xxs);
  }

  & div {
    margin-right: var(--spacing-xxxs);
  }

  & span {
    overflow-x: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
  }
}
