.date {
  border-top: 2px solid #3987a6;
  width: 30%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &.right {
    justify-content: flex-start;
  }

  //justify-content: space-around;

  //&:before {
  //  content: '';
  //  width: 10px;
  //  height: 10px;
  //  position:absolute;
  //  z-index: 1;
  //  background: white;
  //}
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-md);
  background: #efefef;
  width: fit-content;
  z-index: 1;
  position: relative;

  &.left {
    border-radius: 8px 0 0 8px;
    z-index: 3;
  }
  &.right {
    border-radius: 0 8px 8px 0;
  }
}
.tinyTitle {
  font-size: var(--font-size-xxs);
}

.rangePicker {
  display: flex;
  justify-content: flex-end;
  margin: var(--spacing-md) var(--spacing-xxs);
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: -29px;
    bottom: 10px;
    width: var(--spacing-sm);
    border-bottom: var(--border-divider);
  }
}
