.gcli_wrapper {
  position: relative;
  display: flex;
  width: min(calc(100% - 25px), 1200px);
  font-size: 15px;
  cursor: text;
}

.input_wrapper {
  display: flex;
  background: white;
  border: 1px solid var(--chakra-colors-gray-200);
  border-radius: 4px;
  border-radius: var(--chakra-radii-2xl);
  width: 100%;
  padding: 0px;
}

.input_label_icon {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 4px 10px 10px;
}

.input_icon {
  display: flex;
  margin-right: 10px;
}

.input_label {
  display: flex;
}

.selected_terms_wrapper {
  display: flex;
  align-items: center;
  align-content: center;
}

.selected_term {
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 3px;
}

.selected_term:hover {
  cursor: pointer;
  background: var(--chakra-colors-primary-50);
  color: var(--chakra-colors-primary-800);
}
.selected_term_highlighted {
  background: var(--chakra-colors-primary-50);
  color: var(--chakra-colors-primary-800);
}

.gray {
  color: #afafaf;
}

.selected_term_text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

.input_actions {
  display: flex;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  justify-content: flex-end;
}
.search_button {
  display: flex;
  background: var(--chakra-colors-primary-50);
  border:1px solid var(--chakra-colors-primary-200);;
  border-radius: 12px;
  align-items: center;
  align-content: center;
  padding: 6px 12px;
  color: var(--chakra-colors-primary-700);
  margin-right: 5px;
  font-weight: 500;

  &:hover,
  &:focus {
    background: var(--chakra-colors-primary-100);
  }
}

.search_button:hover {
  cursor: pointer;
}

.gcli_input_search {
  display: flex;
  border: none !important;
  padding: 8px 12px 8px 3px !important;
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
}

.list_search_results_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_search_results_empty {
  color: #a165ba;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.result_list {
  position: absolute;
  width: calc(100% - 20px);
  margin: 0 10px;
  top: 46px;
  border: 1px solid #dfdfdf;
  border-top: none;
  background: white;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0); //safari fix for z-index
  transform: translate3d(0, 0, 0); //safari fix for z-index
}
.list_item {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 12px 16px;
}

.list_item_icon {
  display: flex;
  margin-right: 10px;
  width: 18px;
}

.list_item_text {
  display: flex;
}

.list_item:focus,
.list_item:active,
.list_item:hover {
  background: rgba(213, 213, 213, 0.17);
  cursor: pointer;
}

.list_item_action {
  color: #a165ba;
  flex-grow: 1;
  text-align: right;
}

.loading {
  color: #a165ba;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

/*region spinner*/
.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #a165ba transparent #a165ba transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*endregion*/
