@import '../../../styles/mixins';

.contactDetails {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: var(--spacing-lg);
  position: relative;
}

.header {
  display: flex;
  align-items: start;
  margin-bottom: 24px;
  flex: 1;
}

.nameAndEditButton {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.photo {
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--spacing-md);
  background: var(--gradient-base);
  color: white;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--spacing-md);
}

.nameContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: normal;

  & input:nth-of-type(2) {
    margin-left: var(--spacing-xxxs);
  }
}

.name {
  width: 100%;
  color: #333;
}

.details {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: var(--spacing-xxxs);
}

.label {
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xxxs);
  color: var(--text-secondary-color);
}

.jobRole {
  font-size: var(--font-size-xs);
  color: var(--text-faded);
  &:first-letter {
    text-transform: capitalize;
  }
}

.source {
  font-size: var(--font-size-xs);
  color: var(--text-faded);
  font-weight: normal;
  margin-left: var(--spacing-xxxs);
  display: flex;
  align-items: flex-end;

  & div {
    margin-left: var(--spacing-xxxs);
    text-transform: lowercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &.sourceEditMode {
    margin-top: var(--spacing-xxs);
  }
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
}
