@import '../../../styles/mixins';

.contactDetails {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 400px;
  margin-bottom: var(--spacing-xxl);
}

.header {
  display: flex;
  align-items: start;
  margin-bottom: 24px;
  flex: 1;
}

.nameAndEditButton {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.photo {
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: var(--spacing-md);
  background: var(--gradient-base);
  font-weight: bold;
  color: white;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  color: #333;
}

.details {
  display: flex;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: not-allowed;
  opacity: 0.5;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: var(--spacing-xxxs);
}

.label {
  font-size: var(--font-size-xs);
  font-weight: 600;
  margin-top: var(--spacing-xxxs);
  color: var(--text-secondary-color);
}

.value {
  font-size: 16px;
  color: #666;
}

.jobRole {
  font-size: var(--font-size-xs);
  color: var(--text-faded);
  &:first-letter {
    text-transform: capitalize;
  }
}

.source {
  font-size: var(--font-size-xs);
  color: var(--text-faded);
  font-weight: lighter;

  & span {
    font-weight: bold;
    margin-right: var(--spacing-xxxs);
  }
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
}

.titleSelectorLabel {
  display: flex;
  align-items: baseline;
  font-size: var(--font-size-sm);
  font-weight: normal;
  color: var(--text-faded);
}

.titleSelector {
  @include input-style;
  padding: 0 var(--spacing-xxxs);
  margin-top: 0;
  margin-bottom: var(--spacing-xxs);
}

.formFields input {
  margin-bottom: var(--spacing-xxs);
}
