.button {
  padding: 8px 16px;
  border-radius: 30px;
  border: none; // fix in theming
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // fixme improve visual

  & svg {
    margin-right: 4px;
  }

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(-45deg, var(--primary-color), #f696b6);
  }

  &:not(:last-of-type) {
    margin-right: 8px;
  }

  &.secondary {
    background: #d3d3d3;

    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(-45deg, var(--primary-color), #f696b6);
    }
  }

  &.default {
    background: transparent;
    color: #474747;

    // fixme improve visual
    &:hover,
    &:focus,
    &:active {
      background: #d3d3d3;
    }
  }

  &.primary {
    background: var(--primary-color);
    color: white;

    // fixme improve visual
    &:hover,
    &:focus,
    &:active {
      background: var(--primary-color-hover);
    }
  }

  &.dangerLink {
    color: var(--red-600);
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: var(--red-500);
      text-decoration: underline;
    }
  }

  &.danger {
    color: white;
    background: var(--red-500);

    &:hover,
    &:focus,
    &:active {
      background: var(--red-600);
      color: white;
    }
  }
  &.link {
    color: var(--blue-500);
    background: white;

    &:hover,
    &:focus,
    &:active {
      color: var(--blue-600);
      text-decoration: underline;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}
