@import '../../../../styles/mixins';

.label {
  display: flex;
  align-items: center;
  font-family: inherit;
}
.input[type='checkbox'],
.input[type='radio'] {
  --active: var(--royal-blue-800);
  --active-inner: #fff;
  --focus: 1px var(--royal-blue-900);
  --border: var(--gray-500);
  --border-hover: var(--royal-blue-800);
  --background: #fff;
  --disabled: var(--gray-300);
  --disabled-inner: var(--gray-200);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  outline: none;
  display: none;
  vertical-align: top;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  &:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    & + span {
      cursor: not-allowed;
    }
  }
  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }
  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  &:not(.switch) {
    &:after {
      opacity: var(--o, 0);
    }
    &:checked {
      --o: 1;
    }
  }
  & + span {
    font-size: inherit;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
}
input[type='checkbox'] {
  &:not(.switch) {
    width: 12px;
    height: 12px;
    border-radius: var(--border-radius-xs);
    &:after {
      width: 5px;
      height: 8px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 3px;
      top: 0;
      transform: rotate(var(--r, 20deg));
    }
    &:checked {
      --r: 43deg;
    }
  }
  &.switch {
    width: 38px;
    border-radius: 11px;
    &:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
}
.input[type='radio'] {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  &:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  &:checked {
    --s: 0.5;
  }
}
