@import 'styles/mixins';

.emailContainer {
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: grid;
}

.emailData {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: var(--spacing-xxs);

  & .emailDataColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.emailParty {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  color: var(--gray-500);
  margin-right: 8px;
}

.scrollToView {
  position: absolute;
  top: -15px;
}

.emailContentContainer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: var(--spacing-xxxs) 0;

  &.eclipse:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
  }
}

.emailContent {
  min-height: 40px;
  overflow-wrap: anywhere;

  & a {
    @include link-style;
  }
  & * {
    margin-bottom: 2px;
  }
}

.folderTab {
  height: 17px;
  width: 82px;
  position: relative;
  top: -2px;
  background-color: white;

  border-bottom: 1px solid #ccc;
  border-top: 2px solid white;
  left: 85px;
  display: inline-block;
  z-index: 2;
  color: #a3b4c9;
  cursor: pointer;

  &:before {
    border-bottom: 1px solid #ccc;
    border-left: 2px solid #ccc;
    border-top: 2px solid white;

    height: 17px;
    width: 30px;
    border-radius: 4px 0px 0px 0px;
    background-color: white;
    content: '';
    position: absolute;
    left: -20px;
    top: -2px;
    transform: skewX(-308deg);
    z-index: -1;
  }
  &:after {
    height: 17px;
    width: 30px;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid white;
    border-radius: 0px 2px 2px 0;
    background-color: white;
    content: '';
    position: absolute;
    right: -20px;
    top: -2px;
    transform: skewX(308deg);
    z-index: -1;
  }

  .toggleExpandButton {
    padding: 0;
    font-size: var(--font-size-xs);
    bottom: 0;
    position: absolute;
    right: 50%;
    left: 50%;
    color: #5e7fd3;
  }
}

.emailWrapper {
  border: var(--border-divider);
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  display: flex;
  flex: 1;
  height: min-content;
  max-height: 200px;
  transition: max-height 0.5s ease-in-out;
  &.expanded {
    max-height: 100%;
  }
}

.sendBy {
  margin-right: var(--spacing-lg);
}
.sendTo {
  margin-left: var(--spacing-lg);
}
