@import "styles/mixins";

.form {
  @include flex-center;
  flex-direction: column;
  margin-top: var(--spacing-xs);

  & button {
    margin: var(--spacing-lg) 0;
    width: 100%
  }
}

.input {
  font-family: var(--font-secondary);
  border-radius: var(--border-radius-sm);
  border-color: var(--gray-300);
  width: 100%;
  border-width: 1px;

  & div {
    font-family: inherit;
    font-size: var(--font-size-base);

    & span {
      color: var(--error-color);
      font-size: var(--font-size-xs);
    }
  }

  & input {
    @include input-style;
    background: #fff;
    font-size: var(--font-size-sm);
    margin-bottom: var(--spacing-xxxs);
  }
}