@import 'styles/mixins';

.validEntry{
  margin: 0 var(--spacing-xxxs);
  display: flex;
  align-items: center;
}

.validationSignal {
  position:relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--chakra-colors-warning-400);
  margin: 0 var(--spacing-xxxs)
}
