@import 'styles/mixins';

.actionWrapper {
  border: var(--border-divider);
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  display: flex;
  flex: 1;
}

.action {
  display: flex;
  align-items: center;
  width: 100%;
}

.actionIcon {
  display: flex;
  margin-right: 10px;
}

.actionLabel {
  display: flex;
}
