@import "styles/mixins";

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  width: 80px;
  position: relative;
  background-color: var(--side-panel-background);
  transition: var(--transition-width);
  height: 100%;
  box-shadow: var(--box-shadow-sm-right);

  & .logoWrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-base);
    padding: var(--spacing-lg) var(--spacing-md) var(--spacing-sm);
  }

  & .logoWrapper .logo {

    pointer-events: none;
    transition: var(--transition-opacity);
  }

  & .bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    flex-grow: 1;
    justify-content: flex-end;
    margin-bottom: var(--spacing-sm);
  }
}

.logo {
  position: relative;
  height: 300px;
  width: 300px;

  pointer-events: none;
  transition: var(--transition-opacity);
}