@import "styles/mixins";

.wrapper {
  @include flex-between
}

.emailDataContainer {
  display: flex;
  margin-bottom: var(--spacing-lg)
}
.emailParticipantWrapper {
  display: flex;
  flex-wrap: wrap;
}
.participants {
  @include flex-between
}
.emailDataRow {
  margin-bottom: var(--spacing-xxxs);
  display: flex;
}

.label {
  font-size: var(--font-size-sm);
  line-height: 16px;
  color: #BABABA;
  margin: 0 var(--spacing-xxs);
  text-align: inherit;
}

.nowrap {
  flex-wrap: nowrap;
}

.labelWithSpacing {
  min-width: 60px;
}

.emailRecipients {
  display: flex;
  flex-wrap: wrap;

  & span:not(:last-of-type) {
    margin-right: 4px;

    &:after {
      content: ',';
    }
  }
}

.data {
  font-weight: 600;
  font-size: var(--font-size-sm);
  line-height: 16px;
}

.buttonsContainer {
  height: max-content;
  @include flex-center
}

.showMoreBtn {
  padding: 0;
  color: #BABABA !important;
  height: var(--font-size-sm);
  min-width: 60px;
}

.emailActionButton {
  margin-left: var(--spacing-xxxs);
}

.avatar {
  margin-right: var(--spacing-xxs);
  min-width: 30px;
}