.actionContainer {
  display: flex;
  overflow: hidden;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.actionDevice {
  margin-top: var(--spacing-xxxs);
  color: var(--gray-600);
}

.folder {
  height: available;
  width: 100%;
  clip-path: polygon(0 0, 14% 0, 19% 5%, 100% 6%, 100% 100%, 0 100%);
  background: #b6b6b6;

  border-radius: 6px;

  & article {
    content: '';
    height: calc(100% - 2px);
    min-height: calc(400px - 2px);
    width: calc(100% - 2px);
    display: block;
    clip-path: polygon(0 0, 14% 0, 19% 5%, 100% 6%, 100% 100%, 0 100%);
    border-radius: 6px;
    background: white;
    margin: 1px;
  }
}

.content {
  padding: var(--spacing-md);
  padding-top: 40px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: var(--font-size-sm);
  justify-content: space-between;

  & b {
    color: rgba(186, 186, 186, 1);
    font-weight: 600;
    font-size: var(--font-size-sm);

    &:after {
      content: ':';
    }
  }
}
.events {
  margin-top: 20px;

  & .label {
    font-size: var(--font-size-sm);
    color: rgba(186, 186, 186, 1);
    font-weight: 600;
  }
}

.dataWrapper {
  margin-bottom: var(--spacing-xs);
}
.photoLink {
  width: 63px; // magic numbers from design
  height: 51px;
  background: #d9d9d9;
  padding: var(--spacing-xxxs);
  margin-right: var(--spacing-xxs);
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: flex-end;
}
