.folder {
  aspect-ratio: 486 / 679;
}

.dateAndAvatars {
  display: flex;
  border-left: 2px solid #3987a6;
  border-right: 2px solid #3987a6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
}

.agenda {
  min-height: 117px; // magic number from design
  border: 1px solid gray;
  border-radius: 8px;

  & .agendaTitleSection {
    display: flex;
    justify-content: center;

    & .agendaTitle {
      padding: var(--spacing-xxxs) var(--spacing-xxxl);
      color: #444;
      background: #abdc63;
      font-size: var(--font-size-xxs);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      position: relative;
      top: -1px;
    }
  }
}

.meetingNoteSection {
  display: flex;
  justify-content: flex-end;
}

.meetingNoteWrapper {
  margin-top: var(--spacing-sm);
  width: 70%;
  min-width: 350px;
  height: min-content;
  min-height: 90px;
  border: 1px solid rgba(155, 155, 155, 1);
  border-radius: var(--border-radius-sm);
  position: relative;
  font-size: var(--font-size-xs);

  &:after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    background: rgba(244, 230, 156, 1);
    border-top-right-radius: var(--border-radius-sm);
    border-top-left-radius: var(--border-radius-sm);
    top: 0;
  }
}

.readMode {
  min-height: 100px !important;
}

.agenda,
.meetingNoteSection {
  position: relative;
}

.editButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.editorEditMode {
  border: none;
}

.meetingLocationLabel {
  font-size: var(--font-size-xxs);
}

.meetingLocationSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--spacing-sm);
}

.editableMeetingProperties {
  &.pastMode {
    border: 2px solid #3987a6;
    border-top: none;
    //border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  }


  &.draftMode {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%233987A6FF' stroke-width='3' stroke-dasharray='16%2c 16' stroke-dashoffset='43' stroke-linecap='square'/%3e%3c/svg%3e");
    &:before {
      content: "";
      width: 100%;
      height: 7px;
      background: white;
      position: relative;
      top: 0px;
      display: block;
      left: 0;
      right: 0;
    }
  }

}

.contentWithBorderWrapper{
  padding: 2px var(--spacing-sm);

}


.meetingLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efefef;
  padding: var(--spacing-xxxs) var(--spacing-sm);
  border-radius: var(--border-radius-md);

  &.selectedMeetingLocation {
    background: #3987a6;
    color: white;
  }
}

.meetingLocationInputWrapper {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}
.meetingInput {
  margin-left: var(--spacing-xxxs);
  background: transparent;
  border: none;

  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    font-weight: normal;
    font-family: inherit;
  }
}

// avatars to be moved to separat container

.avatars {
  display: flex;
  position: relative;
  justify-content: flex-end;

  & .avatar {
    position: absolute;
    //left: -8px;
  }
  & .addUserButton {
    position: relative;
    //z-index: 9999;
  }
}

.numberAvatar {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  color: #444;
  text-transform: uppercase;
  line-height: var(--font-size-xs);
  cursor: default;
  background: #ccc;
  position:absolute;
}


.folderTab {
  display: flex;
  border-bottom: 2px solid #3987a6;
  min-width: 130px;
  height: 37px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  margin: 0px 17px;

  &:before {
    border-top: 5px solid #3987a6;
    border-left: 2px solid #3987a6;
    left: 97%;
    z-index: 2;
    content: "";
    position: absolute;
    top: -45px;
    width: 100px;
    height: 80px;
    background: white;
    border-radius: 14px 0 0 0;
    transform-origin: 131% 100%;
    transform: perspective(400px) rotateX(59deg);
    background: transparent;

  }

  &:after {
    content: "";
    background: white;
    right: 94%;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 34px;
    top: 1px;
  }
}

.rightShape {
  height: 40px;
  width: 8px;
  min-width: 10px;
  position: relative;
  top: -3px;
  aspect-ratio: 682/474;

  background-color: white;
  border-bottom: 2px solid #3987a6;

  border-top: 2px solid white;
  display: inline-block;
  z-index: 2;
  color: #a3b4c9;
  cursor: pointer;
  //border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;


  &:before {
    border-top: 5px solid #3987a6;
    border-left: 2px solid #3987a6;
    left: 7px;
    z-index: 2;
    content: "";
    position: absolute;
    top: -44px;
    right: 5px;
    width: 100px;
    height: 80px;
    background: white;
    border-radius: 14px 0 0 0;
    transform-origin: 131% 100%;
    transform: perspective(400px) rotateX(59deg);
  }

  &:after {
    content: "";
    background: white;
    left: 100%;
    z-index: -1;
    position: absolute;
    width: 100px;
    height: 34px;
    top: 1px;
  }
}

.leftShape {
  height: 40px;
  width: fit-content;
  min-width: 130px;
  position: relative;
  top: -3px;
  aspect-ratio: 682/474;

  background-color: white;
  border-bottom: 2px solid #3987a6;

  border-top: 2px solid white;
  display: inline-block;
  z-index: 2;
  color: #a3b4c9;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;


  &:before {
    border-top: 3px solid #3987a6;
    border-right: 2px solid #3987a6;
    right: 96%;
    z-index: 2;
    content: "";
    position: absolute;
    top: -28px;
    width: 100px;
    height: 64px;
    background: white;
    border-radius: 0 14px 0 0;
    transform-origin: 200% 100%;
    transform: perspective(400px) rotateX(298deg);
    background: transparent;
  }

  &:after {
    content: "";
    background: white;
    right: 94%;
    z-index: -1;
    position: absolute;
    width: 35px;
    height: 34px;
    top: 1px;
  }
}

.date {
  border-top: 2px solid #3987a6;
  width: 30%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.right {
    justify-content: flex-start;
  }

  //justify-content: space-around;

  //&:before {
  //  content: '';
  //  width: 10px;
  //  height: 10px;
  //  position:absolute;
  //  z-index: 1;
  //  background: white;
  //}
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-md);
  background: #EFEFEF;
  width: fit-content;
  z-index: 1;
  position: relative;

  &.left {
    border-radius: 8px 0 0 8px;
    z-index: 3;
  }
  &.right {
    border-radius: 0 8px 8px 0;
  }

}
.tinyTitle {
  font-size: var(--font-size-xxs);
}

.recordingSection {
  background: #BBE0EC;
  padding: var(--spacing-xxs);
  border-radius: 0 0 var(--border-radius-md) 0;



  & span,
  & h3 {
    font-size: var(--font-size-xs);
    font-weight: normal;
    margin-right: var(--spacing-xxs)
  }

  & .recordingIcon {
    border-radius: var(--border-radius-sm);
    background: #000;
    color: #ffffff;
    margin-right: var(--spacing-xxs);
    display: flex;
    align-self: end;

  }

  & .recordingCta {
    display: flex;
    align-items: baseline;


  }
}
.collapsibleSection {
  display: flex;
  justify-content: flex-end;
  background: white;
  position: relative;

  & .collapseExpandButtonWrapper {
    border-radius: var(--border-radius-md) 0 0  var(--border-radius-md);
    border-bottom-left-radius: 0;
    background: #fff;
    padding: 4px 0 0 4px;
    position: relative;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
  }


  & .collapseExpandButton {
    background: #000;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background: #232323;
    }


  }

  & .transcriptionSection {
    background: #BBE0EC;
    padding: 0 0 var(--spacing-xxs) 0;

    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    width: 100%;
  }
}

.rangePicker {
  display: flex;
  justify-content: flex-end;
  margin: var(--spacing-md) var(--spacing-xxs);
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: -29px;
    bottom: 10px;
    width: var(--spacing-sm);
    border-bottom: var(--border-divider);
  }
}
.recordingUploaded {
  background: #C4C9E2;
}