.headingContainer {
  display: flex;
  flex-direction: column;
margin-bottom: var(--spacing-md);
  margin-top: 0;
}

.heading {
  display: block;
  margin-top: 0;
  margin-bottom: var(--spacing-xxxs);
  color: var(--gray-800);
}
