@import '../../../../styles/mixins';

.errorPage {
  height: 100vh;
  width: 100%;
  @include flex-center;
}

.fullScreenMode {
  height: 100%;
}

.content {
  border-radius: var(--border-radius-md);
  background: #ffffff;
  box-shadow: 5px 5px 10px #0007, -1px -1px 2px #fff, 1px 1px 2px #555;
  backdrop-filter: blur(5px);
  overflow: hidden;

  min-height: 45vh;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-xxl);
  margin: 0 var(--spacing-sm);

  & h1 {
  }

  & p {
    margin: var(--spacing-xs) 0;
  }

  & button {
    margin-top: var(--spacing-md);
  }
}
