@import 'styles/mixins';
.timelineItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: var(--font-main), sans-serif;
  font-weight: 200;
  line-height: 1.3rem;
  font-size: 1rem;
  padding: 0 0 25px 0px;
}
.timelineItemSkeletonContent {
  border-radius: var(--border-radius-sm);
}

.last {
  margin-bottom: var(--spacing-md);
}

.when {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray-500);
  position: relative;
  margin: var(--spacing-sm) var(--spacing-xxs);

  &:after {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: -28px;
    bottom: 29px;
    width: var(--spacing-sm);
    border-bottom: var(--border-divider);
  }
}

.timeAgo {
  text-align: end;
}

.content {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  display: flex;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: normal;
}

.metadata {
  @include flex-between;
}

.sourceLogo {
  cursor: pointer;

  & .logo {
    position: absolute;
    right: -28px;
    transition: filter 0.1s ease-in-out;
  }
  & img.logo {
    color: transparent;
    filter: grayscale(1) contrast(0.1);
    position: absolute;
    right: -28px;
    transition: filter 0.1s ease-in-out;
  }

  &:hover img {
    filter: grayscale(0) contrast(1);
  }

  &:hover,
  &:active {
    &:after {
      content: attr(data-tooltip);
      background-color: rgba(106, 106, 106, 0.8);
      color: #fff;
      top: -0.2rem;
      right: -36px;
      font-size: var(--font-size-xxs);
      position: absolute;
      z-index: 999;
      white-space: nowrap;
      border-radius: var(--border-radius-sm);
      padding: 0 var(--spacing-xxs);
    }
  }
}

.emptyTimeline {
  font-size: var(--normal-text);
  text-align: center;
  width: 100%;
}

.emptyPlaceholder {
  height: var(--spacing-sm);
}
