.timelineItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  line-height: 1.3rem;
  font-size: 1rem;
  padding: 0 0 25px 0px;
}

.last {
  margin-bottom: var(--spacing-md);
}

.when {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray-500);
  position: relative;
  margin: var(--spacing-sm) var(--spacing-xxs);

  &:after {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: -28px;
    bottom: 10px;
    width: var(--spacing-sm);
    border-bottom: var(--border-divider);
  }
}

.timeAgo {
  text-align: end;
}

.content {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  display: flex;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: normal;
}
