.timelineItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  line-height: 1.3rem;
  font-size: 1rem;
}

.last {
  margin-bottom: var(--spacing-md);
}

.timelineLine {
  width: 1px;
  background: var(--gray-400);

  &.first {
    height: 12px;
  }

  &.second {
    height: 5px;
  }

}

.when {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray-500);
}

.timeAgo {
  text-align: center;
}

.content {
  background: #fff;
  padding: var(--spacing-sm) var(--spacing-md);

  border-radius: 6px;
  border: var(--border-divider);
  width: 100%;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: normal;
}