.pageContent {
  height: 100vh;
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 80px 1fr;
  grid-gap: 24px;
  transition: all ease 0.25s;
  background: var(--background-color);
}

.innerWrapper {
  padding: 1.2rem;
  height: 100%;
  grid-area: content;
  overflow-x: hidden;
  overflow-y: auto;
}
