@import "styles/mixins";
.layout {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;


  @include mobile-to-tablet {
    display: flex;
    flex-direction: column;
  }

  @include min-tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(200px, 1fr) minmax(20%, 1fr);
    grid-template-areas: "personalDetails notes"
                        "contactDetails timeline";
    grid-gap: 24px;
  }

}
