
.toolbelt {
  overflow: hidden;
  display: flex;
  height: 130px;
  border-bottom: 1px solid #000;

  &.isColumn {
    display:flex;
    flex-direction: column;
    border-bottom: none;
  }


  & .button {
    width: 130px;

    &.isSkewed {
      width: 100px;

      transition: transform 0.2s ease-in-out;
      transform: translate(100px,100px) rotate(-50deg);
      cursor: pointer;

      &:not(:first-of-type) {
        margin-right: 16px;
      }

      &:hover {
        transform: translate(110px,90px) rotate(-50deg);
      }
    }


  }
}

.note:not(.isSkewed) {
  position: relative;
  &:after {
    position: absolute;
    z-index: 1;
    content: 'Add Note';
    background: #fff;
    width: 100px;
    top: 18px;
    left: 5px;
    right: 0;
    font-size: var(--font-size-xs);
  }
}
.meeting:not(.isSkewed) {
  position: relative;
  &:after {
    position: absolute;
    z-index: 1;
    content: 'Add Meeting';
    width: 100%;
    top: 18px;
    left: 0;
    font-size: var(--font-size-xs);
  }
}

