.toolbelt {
  overflow: hidden;
  display: flex;
  height: 130px;
  border-bottom: 1px solid #000;

  &.isColumn {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  & .button {
    width: 130px;
    cursor: pointer;

    &.isSkewed {
      width: 100px;

      transition: transform 0.2s ease-in-out;
      transform: translate(100px, 100px) rotate(-50deg);
      cursor: pointer;

      &:not(:first-of-type) {
        margin-right: 16px;
      }

      &:hover {
        transform: translate(110px, 90px) rotate(-50deg);
      }
    }

    &:not(.isSkewed) {
      transition: transform 0.2s ease-in-out;
      transform: translate(10px);
      cursor: pointer;

      &:hover {
        transform: translate(0px);
      }
    }
  }

}
.dialog {
  background: white;
  padding: var(--spacing-lg);
  box-shadow: 5px 5px 9px #dfdfdf, -1px -1px 9px #f4f4f4,
  1px 1px 2px var(--secondary-color-hover);
  border-radius: var(--border-radius-sm);

  & > div:first-of-type {
    font-weight: bold;
    margin-bottom: var(--spacing-md);
  }

  & > div:nth-of-type(2) {
    min-height: 215px;
  }
}

