
.toolbelt {
  overflow: hidden;
  display: flex;
  height: 130px;
  border-bottom: 1px solid #000;

  &.isColumn {
    display:flex;
    flex-direction: column;
    border-bottom: none;
  }


  & .button {
    width: 130px;
    cursor: pointer;

    &.isSkewed {
      width: 100px;

      transition: transform 0.2s ease-in-out;
      transform: translate(100px,100px) rotate(-50deg);
      cursor: pointer;

      &:not(:first-of-type) {
        margin-right: 16px;
      }

      &:hover {
        transform: translate(110px,90px) rotate(-50deg);
      }
    }

    &:not(.isSkewed) {

      transition: transform 0.2s ease-in-out;
      transform: translate(10px);
      cursor: pointer;


      &:hover {
        transform: translate(0px);
      }
    }

  }
}




