.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg, #be8df3, #daa4b7);
  color: white;

  // fixme improve visual
  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(-45deg, #b072f1, #f696b6);
  }
}
