.featuresItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: var(--spacing-xs) 0;
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;
  width: 100%;
  height: 50px;

  &:focus,
  &:active,
  &:hover,
  &.selected {
    background: var(--side-panel-item-hovered);
    transition: 0.5s ease;
  }
}
