@import 'styles/mixins';
.itemCounter {
  width: calc(
    100vw - 134px - 2.4rem
  ); //80px metapanel + 24 grid gap + 24 margin right + 1.2 rem padding
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size-sm);

  & span {
    margin-right: var(--spacing-xxs);
  }
}
.table {
  overflow-x: auto;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 10px;
  position: relative;
  width: calc(
    100vw - 134px - 2.4rem
  ); //80px metapanel + 24 grid gap + 24 margin right + 2.4 rem padding
  height: calc(100vh - 244px); // 100vh - top search bar
  table-layout: fixed;

  & th {
    padding: var(--spacing-xs) var(--spacing-xs);
    font-size: var(--font-size-sm);
  }
  & td {
    padding: var(--spacing-xxs) var(--spacing-xs);
    font-size: var(--font-size-sm);
  }

  & th {
    border-top: var(--border-light);
    font-weight: 500;

    &:first-of-type {
      border-top-left-radius: var(--border-radius-sm);
      border-left: var(--border-light);
    }
    &:last-of-type {
      border-top-right-radius: var(--border-radius-sm);
    }
    &:not(.actionCell) {
      border-right: var(--border-light);
    }
  }
}

.header {
  & tr {
    display: flex;
    flex: 1;
    background: #F0F0F0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

.body {
  @include scrollbar;
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  width: calc(
    100vw - 134px - 2.4rem
  ); //80px metapanel + 24 grid gap + 24 margin right + 2.4 rem padding
  position: relative;
  display: block;
}

.row {
  display: flex;
  position: absolute;
  width: inherit;
  font-size: var(--font-size-sm);

  &.odd {
    background: #F9F9F9;
  }

  th,
  td {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
  }
}

.staticRow {
  min-height: 60px;
  position: static;
}

.noResultsInfo {
  @include flex-center;
  padding: var(--spacing-xl);

  & td {
    @include flex-center;
  }

  & span {
    margin-left: var(--spacing-xs);
  }
}
