.owner_section {
  font-size: var(--small-text);
}
.owner_header {
  font-size: var(--normal-text);
  margin-bottom: var(--spacing-xxxs);
}

.owner {
  display: flex;
  align-items: center;
}

.owner_input {
  display: flex;
  align-items: center;
  & svg {
    margin-right: var(--spacing-xxxs);
  }
}
