.backdrop {
  position:absolute;
  z-index: 6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(12px);
  background: rgb(16 24 40 / 45%);
  padding: 2rem;
  border-radius: 16px;
}

.normalize_email {
  --native-hyperlink-color: rgb(0, 0, 238);
  body, h1, h2, h3, h4, h5, h6, p, span, em, strong, small, sub, sup, mark, del, ins, cite, dfn, abbr, time, var, samp, kbd, s, i, b, u, code, pre, tt, dd, dt, noscript, article, aside, dialog, figcaption, figure, footer, header, hgroup, nav, section, menu, output {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: inherit;
    font-family: inherit, sans-serif;
    font-weight: normal;
  }
  a {
    color: var(--native-hyperlink-color);
    text-decoration: underline;
  }

  blockquote {
    border-left: 2px solid var(--chakra-colors-gray-200);
    padding-left: 1rem;
  }

  ul, ol {
    padding-left: 1rem;
  }

}