.recordingSection {
  background: #c3cedf;
  padding: var(--spacing-xxs);
  border-radius: 0 0 var(--border-radius-md) 0;

  & span,
  & h3 {
    font-size: var(--font-size-xs);
    font-weight: normal;
    margin-right: var(--spacing-xxs);
  }

  & .recordingIcon {
    border-radius: var(--border-radius-sm);
    background: #000;
    color: #ffffff;
    margin-right: var(--spacing-xxs);
    display: flex;
    align-self: end;
  }

  & .recordingCta {
    display: flex;
    cursor: pointer;
    align-items: baseline;
  }
}
.collapsibleSection {
  display: flex;
  justify-content: flex-end;
  background: white;
  position: relative;

  & .collapseExpandButtonWrapper {
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
    border-bottom-left-radius: 0;
    background: #fff;
    padding: 4px 0 0 4px;
    position: relative;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
  }

  & .collapseExpandButton {
    background: #000;
    color: #fff;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background: #232323;
    }
  }

  & .transcriptionSection {
    background: #c3cedf;
    padding: 0 0 var(--spacing-xxs) 0;
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    width: 100%;

    &.recordingUploaded {
      background: #bbe0ec;

    }
  }
}

.rangePicker {
  display: flex;
  justify-content: flex-end;
  margin: var(--spacing-md) var(--spacing-xxs);
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: -29px;
    bottom: 10px;
    width: var(--spacing-sm);
    border-bottom: var(--border-divider);
  }
}
.recordingUploaded {
  background:  #bbe0ec !important;
}

.isDraggingOver {
  background: rgba(187, 224, 236, 0.76) !important;
}

.collapsibleSectionWithSummary {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.summaryItems{
  padding: var(--spacing-sm) var(--spacing-xxs) 0 var(--spacing-xxxs);
  font-size: var(--font-size-xs);
}

.summarySection {
  margin-right: 30px;
  border: 4px solid transparent;
  max-height: 0;
  padding: var(--spacing-sm) 0;
  transition: max-height 0.2s ease-in-out;
}
.summaryOpen {
  max-height: 100%;
  border: 4px solid #bbe0ec;
  opacity: 1;
}

.summaryContent {
  padding: var(--spacing-sm);
  opacity: 0;
}


.summaryContentOpen {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.2s;
}


