.recordingSection {
  background: #bbe0ec;
  padding: var(--spacing-xxs);
  border-radius: 0 0 var(--border-radius-md) 0;

  & span,
  & h3 {
    font-size: var(--font-size-xs);
    font-weight: normal;
    margin-right: var(--spacing-xxs);
  }

  & .recordingIcon {
    border-radius: var(--border-radius-sm);
    background: #000;
    color: #ffffff;
    margin-right: var(--spacing-xxs);
    display: flex;
    align-self: end;
  }

  & .recordingCta {
    display: flex;
    align-items: baseline;
  }
}
.collapsibleSection {
  display: flex;
  justify-content: flex-end;
  background: white;
  position: relative;

  & .collapseExpandButtonWrapper {
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
    border-bottom-left-radius: 0;
    background: #fff;
    padding: 4px 0 0 4px;
    position: relative;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
  }

  & .collapseExpandButton {
    background: #000;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background: #232323;
    }
  }

  & .transcriptionSection {
    background: #bbe0ec;
    padding: 0 0 var(--spacing-xxs) 0;

    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    width: 100%;
  }
}

.rangePicker {
  display: flex;
  justify-content: flex-end;
  margin: var(--spacing-md) var(--spacing-xxs);
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: -29px;
    bottom: 10px;
    width: var(--spacing-sm);
    border-bottom: var(--border-divider);
  }
}
.recordingUploaded {
  background: #c3cedf !important;
}

.isDraggingOver {
  background: rgba(187, 224, 236, 0.76) !important;
}
