@import '../../../styles/mixins';

.contactsList {
  padding: 0;
  @include scrollbar;
  overflow-y: auto;
}
.contactItem {
  margin-bottom: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);

  &:not(:last-of-type) {
    border-bottom: var(--border-divider);
  }

  @include button-variants;
}

.personalDetails {
  display: flex;
  align-items: center;
}

.jobTitle {
  margin-right: var(--spacing-xxs);
  color: var(--text-faded);
  font-size: var(--font-size-xxs);
}
.name {
  font-size: var(--font-size-sm);
  color: var(--text-default);
  margin: 0;
  word-break: keep-all;
  white-space: nowrap;
}

.detailsContainer {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  color: var(--text-faded);
}

.icon {
  margin-right: 8px;
}
