@import '../../../styles/mixins';

.name {
  font-size: var(--heading-main);
  font-weight: normal;
  margin-bottom: var(--spacing-xs);
}


.industry {
  @include text-hint;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-top: -2px;
}

.description {
  font-size: var(--font-size-sm);
  margin: var(--spacing-xxs) 0;
}

