@import 'styles/mixins';

.info span {
  padding: var(--spacing-xxxs) var(--spacing-xxs);
  border-top-right-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-xl);
}

.label {
  color: var(--text-faded);
  min-width: 15%;
  text-align: end;
  & button,
  & span {
    padding: var(--spacing-xxxs) var(--spacing-xxs);
    border-top-left-radius: var(--border-radius-xl);
    border-bottom-left-radius: var(--border-radius-xl);
  }
}
.editLabelIcon {
  @include flex-center;
  font-size: var(--font-size-xs);
  & img {
    transform: rotate(90deg);
  }
}

.detailsList {
  margin-top: var(--spacing-xxxs);
  padding-bottom: var(--spacing-xxxs);
}

.divider {
  border-bottom: var(--border-divider);
  display: flex;
  border-bottom: var(--border-divider);
  margin: var(--spacing-xxxs) 0;

  height: 1px;
  width: 100%;
  background: gray;
}

.communicationItem {
  border-radius: var(--border-radius-xl);
  display: flex;
  position: relative;
  max-height: 20px;
  align-items: center;
  font-size: var(--font-size-xs);
}

.communicationItem {
  cursor: pointer;
  &.selected,
  &:hover,
  &:focus-visible {
    & .label span {
      background: var(--gray-200);
    }

    & .info span {
      background: var(--gray-100);
    }
  }
}

.primary {
  font-weight: bold;
}

.tableHeader {
  text-align: right;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: inherit;
  font-weight: normal;
}

.table {
  display: flex;
  font-size: var(--font-size-xs);
  & tr {
    margin-bottom: var(--spacing-xxxs);
  }

  & td {
    height: 20px;
  }
}

.primaryButton {
  padding: 0;
  font-size: var(--font-size-xs);
  height: 20px;

  & div {
    height: 20px;
  }
}
.checkboxContainer {
  margin-left: var(--spacing-xxxs);
}