@import 'styles/mixins';

.organizationIdCard {
  grid-area: idCard;
}
.organizationDetails {
  @include scrollbar;
  grid-area: details;
  overflow-y: auto;
}
.communicationDetails {
  grid-area: contactDetails;
}
.notes {
  grid-area: notes;
}
.timeline {
  height: 100%;
  grid-area: timeline;
}
