.organizationIdCard {
  grid-area: idCard;
}
.organizationDetails {
  grid-area: details;
  overflow-y: scroll;
}
.communicationDetails {
  grid-area: contactDetails;
}
.notes {
  grid-area: notes;
}
.timeline {
  grid-area: timeline;
}
