.contentEditable {
  width: max-content;
  padding: 0 2px;
  border: 1px solid transparent;
  font-size: inherit;
  border-radius: var(--border-radius-sm);
  max-width: 320px;
  text-align: flex-start;
  background: white;

  &:hover {
    border-color: transparent;
  }

  &:focus-visible {
    outline: none;
  }

  &.empty:after {
    content: attr(data-placeholder);
    color: gray;
  }

  &:disabled {
    color: inherit;
  }

  &.editable {
    &:hover {
      border: var(--border-input);
    }

    &:focus-visible {
      border-color: var(--royal-blue-500);
    }
  }
}

.textAreaContainer {
  position: relative;

  .textArea {
    width: 100%;
    margin: var(--spacing-xxxs) 0;
    overflow-y: auto;
    max-height: 320px;
    max-width: 100%;

    &.readMode {
      overflow-y: hidden;
      transition: max-height 0.3s ease-out;
      transition-delay: 0.2s;
    }

    &.readModeAllowScroll {
      overflow-y: auto;
    }
    &.collapsed {
      overflow-y: hidden;
      max-height: 60px;
    }
  }

  & .blurVisible {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.26));
    pointer-events: none;
  }

  & .collapseExpandButton {
    position: absolute;
    background: white;
    right: 0;
    bottom: 0;
  }
}

.invisibleLabel {
  position: absolute;
  top: -9999px;
}
