.contentEditable {
  width: max-content;
  padding: 0 2px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);

  &:focus-visible {
    outline: none;
  }

  &.empty:after {
    content: attr(data-placeholder);
    color: gray;
  }

  &.editable {
    &:hover {
      border: var(--border-input);
    }

    &:focus-visible {
      border-color: var(--royal-blue-500);
    }
  }
}
