@import '../../../../styles/mixins';

.wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: block;

  &:not(:last-of-type) {
    margin-bottom: var(--spacing-sm);
  }
}

.input {
  @include input-style;

  /* SIZES */

  &.xxxs {
    margin-top: 0;
    padding: 0 var(--spacing-xxxs);
    font-size: var(--font-size-sm);
    font-weight: lighter;
  }
  &.xxs {
    margin-top: 0;
    padding: var(--spacing-xxxs) var(--spacing-xxs);
    font-size: var(--font-size-sm);
    font-weight: lighter;
  }
}

.icon {
  position: absolute;
  right: 10px;
  top: 17px;
}

.label {
  font-size: var(--font-size-sm);
  font-weight: normal;
  color: var(--text-faded);
}
