.filepond--item>.filepond--panel .filepond--panel-bottom {
  box-shadow: none;
}
[data-filepond-item-state*=error] .filepond--item-panel, [data-filepond-item-state*=invalid] .filepond--item-panel {
  background: transparent;
}

.filepond--file-info .filepond--file-info-main,
.filepond--file-info .filepond--file-info-sub {

}
.filepond--file-status,
.filepond--file-info .filepond--file-info-main,
.filepond--file-info .filepond--file-info-sub,
.filepond--file-status .filepond--file-status-main {
  color: transparent;
  font-size: var(--chakra-fontSizes-sm);
  text-align: left;
  font-family: var(--font-barlow);
  margin: 0 !important;
  pointer-events: all;
}

.filepond-uploaded .filepond--file-status,
.filepond-uploaded .filepond--file-info .filepond--file-info-main,
.filepond-uploaded .filepond--file-info .filepond--file-info-sub,
.filepond-uploaded .filepond--file-status .filepond--file-status-main {
  color: transparent;

}

.filepond--file-status{
  transform: translate3d(15px, 0px, 0px);
  font-weight: normal;
  margin-top: 2px;
}
.filepond--file {
  padding-top: 0;
  flex-direction: column;
}

.filepond-error .filepond--panel {
  pointer-events: all;
}
.filepond-error .filepond--file {
  margin-top: -5px;
  padding: 0;
  position: relative;
  &:after {
    content: 'Try another';
    margin-top: 2px;
    line-height: 1.6;
    color: var(--chakra-colors-error-700);
    font-size: var(--chakra-fontSizes-sm);
    font-weight: var(--chakra-fontWeights-semibold);
}}

.filepond--file-info .filepond--file-info-sub,
.filepond--file-status .filepond--file-status-main {
  font-size: var(--chakra-fontSizes-sm);

}


.filepond--root .filepond--drop-label label {
  cursor: pointer !important;
}
.filepond-error .filepond--drop-label {
  min-height: 4.75rem;
  visibility: initial;
  pointer-events: all;
}
.filepond--file {
  flex-direction: column;
}

.filepond--file-status-sub,
.filepond--file-info-sub {
  display: none;
}

.filepond--action-remove-item {
  //left: unset !important;
  //right: 0 !important;
  display: none;
}
.filepond--image-preview,
.filepond--image-preview-overlay-success {
  background-color: transparent;
}
.filepond--item-panel {
  background: transparent !important;
}

.filepond--item[data-drag-state='drag'] > .filepond--panel{
  box-shadow: none;
}

.filepond--panel-root {
  border: 2px solid var(--chakra-colors-gray-200);
}
.filepond-uploaded .filepond--panel-root {
  border-color: transparent;
}

[data-hopper-state='drag-over'] .filepond--panel-root {
  border-color: var(--chakra-colors-primary-600);
}


.filepond--image-preview-wrapper,
.filepond--panel-root,
.filepond--drip-blob {
  background: transparent;
}

.filepond-error  {.filepond--panel-root {
  background: var(--chakra-colors-error-25);
  opacity: 1;

}
  .filepond--file-info .filepond--file-info-main,
  .filepond--file-info .filepond--file-info-sub,
  .filepond--file-info,
  .filepond--file .filepond--file-status .filepond--file-status-main{
    color: var(--chakra-colors-error-700);
    //margin-left: -20px;
  }
  .filepond--file .filepond--file-status .filepond--file-status-main{
    margin-left: -28px;
  }

  .filepond--panel-root {
    border: 1px solid var(--chakra-colors-error-300);
  }
}



.filepond--image-preview-overlay-idle,
.filepond--image-preview-overlay-failure,
.filepond--image-preview-overlay-success {
  color: transparent;
}

[data-filepond-item-state*='busy'] .filepond--file-info,
[data-filepond-item-state*='busy'] .filepond--file-status,
[data-filepond-item-state~='processing'] .filepond--file-info,
[data-filepond-item-state~='processing'] .filepond--file-status,
[data-filepond-item-state='processing-complete'] .filepond--file-action-button,
[data-filepond-item-state='processing-complete'] .filepond--file-status,
[data-filepond-item-state='processing-complete'] .filepond--file-info {
  color: transparent;
}
[data-filepond-item-state='processing-complete'] .filepond--file-action-button {
  display: none;
}

.filepond-label-container {
}

.filepond--root {
  cursor: pointer;
  margin-bottom: 0;
  width: 343px;
}

.filepond--panel-root {
  border-radius: 0.5em;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--chakra-colors-gray-200);
  padding: var(--chakra-space-4);
  transition: border-bottom-color 0.25s ease-in-out,
  border-top-color 0.25s ease-in-out,
  border-left-color 0.25s ease-in-out,
  border-right-color 0.25s ease-in-out;
}

.filepond--label-action {
  color: var(--chakra-colors-primary-700);
  font-weight: var(--chakra-fontWeights-bold);
  font-size: var(--chakra-fontSizes-sm) !important;
  text-decoration: none;
  margin-top: var(--chakra-space-2);
}


.filepond-sizes {
  font-size: var(--chakra-fontSizes-sm) !important;
  text-align: center;
  color: var(--chakra-colors-gray-500);
}

.filepond-upload-image {


  border: 1px solid var(--chakra-colors-gray-200);
  border-radius: 0.5em;

}

.filepond-idle-label-text {
  margin-top: var(--chakra-space-2);
  font-size: var(--chakra-fontSizes-sm) !important;
  color: var(--chakra-colors-gray-700);
}

.filepond-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & svg {
    padding: var(--chakra-space-2);
    border: 1px solid var(--chakra-colors-gray-200);
    height: 40px;
    width: 40px;
    border-radius: var(--chakra-radii-md);
  }

}

.filepond-errors {
  padding: 8px;
  font-size: var(--chakra-fontSizes-sm) !important;
  color:  var(--chakra-colors-error-700);
}
.error-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.error-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filepond-error-action,
.filepond-error-message {
  margin-left: 32px;
  margin-top: 4px;
}

.filepond-error-action {
  margin-top: 8px;
  cursor: pointer;
}

.filepond-processing-container {
  display: flex;
  font-size: var(--chakra-fontSizes-sm) !important;
  //border: 1px solid var(--chakra-colors-gray-200);--chakra-colors-gray-200
  padding: var(--chakra-space-2);
  font-weight: 500;
  gap: 8px;
  align-items: flex-end;
}
.filepond-upload-text {
  color: var(--chakra-colors-gray-700);
}

[data-filepond-item-state*='invalid'] .filepond--panel,
[data-filepond-item-state*='invalid'] .filepond--file-wrapper,
[data-filepond-item-state*='error'] .filepond--panel,
[data-filepond-item-state*='error'] .filepond--file-wrapper {
  animation: none;
}
