/*region webchat*/
.openline_avatar_wrapper {
  display: none;
}

.openline_webchat_button {

  display: none;
}
.support_window {
  display: none;
}
/*endregion*/


.scrollbar *::-webkit-scrollbar {
  width: 4px;
}

.scrollbar *::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar *::-webkit-scrollbar-thumb {
  background: var(--gray-400, #98A2B3);;
  width: 4px;
  border-radius: 8px;
}


// toast style overwrite
.Toastify__toast {
  max-height: 52px !important;
  min-height: 52px !important;
  font-size: 14px !important;
  border-radius: 12px !important;
  font-weight: 600 !important;
  font-family: var(--font-barlow) !important;
  display: flex !important;
  align-items: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #F6FEF9 !important;
  color: #067647 !important;
  border: 1px solid #75E0A7 !important;


  & .Toastify__toast-icon {
    width: 36px !important;
  }

  & .Toastify__close-button{
    display: flex !important;
    color: #17B26A !important;
    align-self: center !important;
    height: 100% !important;
    & > svg {
      height: 20px !important;
      width: 20px !important;
    border-color: #17B26A !important;
  }}

  & .Toastify__toast-body {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: #FFFBFA !important;
  color: #B42318 !important;
  border: 1px solid #FDA29B !important;


  & .Toastify__toast-icon {
    width: 36px !important;
  }

  & .Toastify__close-button{
    display: flex !important;
    color: #F04438 !important;
    align-self: center !important;
    height: 100% !important;
    & > svg {
      height: 20px !important;
      width: 20px !important;
  }}

  & .Toastify__toast-body {
    padding: 0 !important;
    margin: 0 !important;
  }
}



.lp_pass{
  display: none !important;
}