
/*region webchat*/
.openline_avatar_wrapper {
  display: none;
}

.openline_webchat_button {

  display: none;
}
.support_window {
  display: none;
}
/*endregion*/


.scrollbar *::-webkit-scrollbar {
  width: 4px;
}

.scrollbar *::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar *::-webkit-scrollbar-thumb {
  background: var(--gray-400, #98A2B3);;
  width: 4px;
  border-radius: 8px;
}

// toast style overwrite

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #E9D7FE;
  color: #6941C6;

  & .Toastify__close-button{
    color: #6941C6;
    & > svg {
    border-color: #6941C6;
  }}
}
.lp_pass{
  display: none !important;
}