@font-face {
  font-family: mona-sans-black;
  src: url('../public/fonts/Mona-Sans-Medium.woff');
}

@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 200;
}
