:root {
  --gray-50: #f8f8f8;
  --gray-100: #f0f0f0;
  --gray-200: #e4e4e4;
  --gray-300: #d0d0d0;
  --gray-400: #b4b4b4;
  --gray-500: #9a9a9a;
  --gray-600: #818181;
  --gray-700: #6a6a6a;
  --gray-800: #5a5a5a;
  --gray-900: #4e4e4e;

  --royal-blue-50: #f0f7fe;
  --royal-blue-100: #dcecfd;
  --royal-blue-200: #c1dffc;
  --royal-blue-300: #97ccf9;
  --royal-blue-400: #66b0f4;
  --royal-blue-500: #4290ef;
  --royal-blue-600: #3578e5;
  --royal-blue-700: #245dd1;
  --royal-blue-800: #234caa;
  --royal-blue-900: #224386;

  --shakespeare-blue-50: #effbfc;
  --shakespeare-blue-100: #d6f0f7;
  --shakespeare-blue-200: #b1e2f0;
  --shakespeare-blue-300: #7ccde4;
  --shakespeare-blue-400: #4cb3d4;
  --shakespeare-blue-500: #2391b7;
  --shakespeare-blue-600: #20759a;
  --shakespeare-blue-700: #215f7d;
  --shakespeare-blue-800: #234f67;
  --shakespeare-blue-900: #214358;

  --electric-violet-50: #f4f2ff;
  --electric-violet-100: #ece7ff;
  --electric-violet-200: #dbd3ff;
  --electric-violet-300: #c2b0ff;
  --electric-violet-400: #a483ff;
  --electric-violet-500: #8951ff;
  --electric-violet-600: #7626fa;
  --electric-violet-700: #6c1be6;
  --electric-violet-800: #5a16c1;
  --electric-violet-900: #4b149e;

  --punch-red-50: #fef2f2;
  --punch-red-100: #fee6e5;
  --punch-red-200: #fccfcf;
  --punch-red-300: #f9a8a8;
  --punch-red-400: #f57779;
  --punch-red-500: #ec474f;
  --punch-red-600: #dc3545;
  --punch-red-700: #b7192c;
  --punch-red-800: #99182c;
  --punch-red-900: #83182c;

  --apple-green-50: #f2fbf2;
  --apple-green-100: #e1f7e1;
  --apple-green-200: #c6edc5;
  --apple-green-300: #97de97;
  --apple-green-400: #4dbf4d;
  --apple-green-500: #3cab3d;
  --apple-green-600: #2c8d2d;
  --apple-green-700: #266f26;
  --apple-green-800: #235824;
  --apple-green-900: #1e491f;

  --list-item-selected: #f3e8ff;
  --input-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

  /* Typography */
  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Colors */
  --primary-color: var(--royal-blue-500);
  --primary-color-hover: var(--royal-blue-600);
  --primary-color-active: var(--royal-blue-700);
  --primary-color-focus: var(--royal-blue-700);
  --text-on-primary: #fff;

  --secondary-color: var(--gray-100);
  --secondary-color-hover: var(--gray-200);
  --secondary-color-active: var(--gray-300);
  --secondary-color-focus: var(--gray-300);
  --text-on-secondary: var(--gray-900);

  --accent-color: var(--electric-violet-400);
  --accent-color-hover: var(--electric-violet-500);
  --accent-color-active: var(--electric-violet-600);
  --accent-color-focus: var(--electric-violet-600);
  --text-on-accent: #fff;

  --error-color: var(--punch-red-600);
  --error-color-hover: var(--punch-red-700);
  --error-color-active: var(--punch-red-800);
  --error-color-focus: var(--punch-red-800);
  --text-on-error: #fff;

  --success-color: var(--apple-green-400);
  --success-color-hover: var(--apple-green-500);
  --success-color-active: var(--apple-green-600);
  --success-color-focus: var(--apple-green-600);
  --text-on-success: #fff;

  --info-color: var(--shakespeare-blue-400);
  --info-color-hover: var(--shakespeare-blue-500);
  --info-color-active: var(--shakespeare-blue-600);
  --info-color-focus: var(--shakespeare-blue-600);
  --text-on-info: #fff;

  --text-primary-color: #212529;
  --text-secondary-color: var(--gray-800);
  --text-error-color: var(--red-800);
  --text-faded: var(--gray-600);

  --gray-background: #d9d9d9;
  /* BORDER */
  --border-radius-xs: 2px; /* very small border radius */
  --border-radius-sm: 4px; /* small border radius */
  --border-radius-md: 8px; /* medium border radius */
  --border-radius-lg: 16px; /* large border radius */
  --border-radius-xl: 32px; /* extra large border radius */

  /* SPACING */
  --spacing-xxxxs: 0.1rem;
  --spacing-xxxs: 0.25rem; /* 4px for 1rem = 16px */
  --spacing-xxs: 0.5rem; /* 8px for 1rem = 16px */
  --spacing-xs: 0.75rem; /* 12px for 1rem = 16px */
  --spacing-sm: 1rem; /* 16px for 1rem = 16px */
  --spacing-md: 1.5rem; /* 24px for 1rem = 16px */
  --spacing-lg: 2rem; /* 32px for 1rem = 16px */
  --spacing-xl: 2.5rem; /* 40px for 1rem = 16px */
  --spacing-xxl: 3rem; /* 48px for 1rem = 16px */
  --spacing-xxxl: 3.5rem; /* 56px for 1rem = 16px */

  /*  !* TYPOGRAPHY *!*/
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 1.75rem;

  --heading-main: var(--font-size-xxl);
  --heading-secondary: var(--font-size-xl);
  --heading-tertiary: var(--font-size-lg);
  --normal-text: var(--font-size-md);
  --small-text: var(--font-size-sm);
  --hint-text: var(--font-size-xs);

  /* BORDERS */

  --border-divider: 1px solid var(--gray-200);
  --border-light: 0.5px solid #cbcbcb;
  --border-input: 1px solid var(--gray-300);
  --border-input-disabled: var(--gray-200);

  /* OUTLINE */

  --outline-color: var(--shakespeare-blue-400);
  --outline-width: 1px;
  --outline-offset: 2px;

  /* TRANSITIONS*/

  --transition-width: width 0.25s ease;
  --transition-opacity: opacity 0.25ms ease;

  /* BOX-SHADOWS */
  --box-shadow-sm-right: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-xs: 1px 1px 4px 0 var(--gray-200);

  --background-color: #fff;
  --gradient-base: radial-gradient(
    circle farthest-corner at 100% 100%,
    #e095f5,
    #85abff 53%,
    #b6d6f0
  );

  /* GRANULAR */
  /* SIDEBAR */
  --side-panel-background: var(--gray-100);
  --side-panel-item-hovered: var(--gray-200);

  --web-chat-left: 20px;

  --table-label-color: #343a40;
  --table-sublabel-color: #b1b1b1;
}

/*.dark:root {*/
/*  !* Colors *!*/
/*  --primary-color: #7f9cf5;*/
/*  --primary-color-hover: rgba(127, 156, 245, 0.8);*/
/*  --primary-color-active: #5f76e3;*/
/*  --primary-color-focus: #5f76e3;*/
/*  --text-on-primary: #fff;*/
/*  --secondary-color: #a0aec0;*/
/*  --secondary-color-hover: #808e9b;*/
/*  --secondary-color-active: #686e7e;*/
/*  --secondary-color-focus: #686e7e;*/
/*  --text-on-secondary: #fff;*/
/*  --accent-color: #f56565;*/
/*  --accent-color-hover: #e53e3e;*/
/*  --accent-color-active: #dc2d2d;*/
/*  --accent-color-focus: #dc2d2d;*/
/*  --text-on-accent: #fff;*/
/*  --error-color: #f56565;*/
/*  --error-color-hover: #e53e3e;*/
/*  --error-color-active: #dc2d2d;*/
/*  --error-color-focus: #dc2d2d;*/
/*  --text-on-error: #fff;*/
/*  --background-color: #1a202c;*/
/*  --text-primary-color: #fff;*/
/*}*/
