.phoneCallContainer {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--gray-300);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phoneCallVoiceWave {
  display: flex;
  height: 20px;
  align-items: center;

  & > span {
    border-radius: 4px;
    width: 4px;
    display: block;
    margin: 0 2px;
    background: var(--gray-400);
  }

  & span:first-child {
    height: 4px;
  }
  & span:nth-child(2) {
    height: 14px;
  }
  & span:nth-child(3) {
    height: 18px;
  }

  & span:nth-child(4) {
    height: 11px;
  }

  & span:last-child(4) {
    height: 8px;
  }

  & span:last-child {
    height: 8px;
  }
}
