@import 'styles/mixins';

.timeline {
  @include scrollbar;

  //height: 100%;
  height: calc(65vh + 4px); // make it immediately scrollable
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 var(--spacing-md) 0 0;
  margin-right: -4px;

  &::after {
    content: ' ';
    display: block;
    border-right: var(--border-divider);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  & * {
    overflow-anchor: none;
  }
}

.timelineContent {
  max-height: 66vh;
  height: 100%;
  padding: 0 var(--spacing-md) 0 0;

  & * {
    overflow-anchor: none;
  }

  &.scrollable {
    //min-height: 100%;
    min-height: calc(65vh + 4px); // make it immediately scrollable
  }
}
.scrollAnchor {
  overflow-anchor: auto !important;
  height: 1px;
  width: 100%;
}
