.timeline {
  //background: red;
  grid-area: timeline;

  & h1 {
    font-size: var(--heading-secondary);
    margin-bottom: var(--spacing-xs);
  }
}
.timelineContent {
  max-height: 65vh;
  overflow-y: auto;
  padding: 0px 8px 0px 0px;
}
