.timeline {
  position: relative;
  height: 100%;
  //height: calc(65vh + 4px); // make it immediately scrollable
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 var(--spacing-md) 0 0;
  margin-right: -4px;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: var(--border-radius-md);
    background-color: var(--secondary-color-active);
  }

  &::after {
    content: ' ';
    display: block;
    border-right: var(--border-divider);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.timelineContent {
  max-height: 66vh;
  height: 100%;
  padding: 0 var(--spacing-md) 0 0;

  & * {
    overflow-anchor: none;
  }

  &.scrollable {
    //min-height: 100%;
    min-height: calc(65vh + 4px); // make it immediately scrollable
  }
}
#scrollAnchor {
  overflow-anchor: auto;
  height: 1px;
}
