@import 'styles/mixins';
.actionHeader {
  height: 100%;
  @include justify-end;
  align-items: center;
}

.deselectAllButton {
  padding: 0 !important;
  border-radius: 4px;
  height: 16px;
  width: 16px;
  border: var(--border-divider);
  border-color: var(--gray-600);
  color: var(--gray-600);
  margin-top: var(--spacing-xxxs);
  margin-right: var(--spacing-xxxs);

  &:focus,
  &:active,
  &:hover {
    color: var(--gray-900);
    border-color: var(--gray-900);
  }
}

.adressesList {
  padding: var(--spacing-xs) var(--spacing-sm);
}
.emailList {
  font-size: var(--font-size-sm);
  padding: var(--spacing-xxs) 0;

  &:not(:last-of-type) {
    border-bottom: var(--border-divider);
  }
}

.mergableCell {
  display: flex;
  position: relative;

  & label {
    align-items: baseline;
  }
}

.checkboxContainer {
  margin-right: var(--spacing-xxxs);
  margin-top: var(--spacing-xxxs);
  height: fit-content;
  display: inline;
}

.emptyCell {
  margin-left: var(--spacing-lg);
}

.actionsMenuButton {
  width: 30px;
  height: 30px;
}
.confirmButton {
  border-radius: 4px;
  margin-left: var(--spacing-xxs);
}

.showMoreLocationsIcon {
  display: flex;
  align-self: flex-end;
  margin-left: var(--spacing-xs);
}
