@import 'styles/mixins';
.actionHeader {
  height: 100%;
  @include flex-center;
}

.deselectAllButton {
  padding: 0 !important;
  border-radius: 4px;
  height: 16px;
  width: 16px;
  border: var(--border-divider);
  border-color: var(--gray-600);
  color: var(--gray-600);
  position: relative;
  margin-top: var(--spacing-xxxs);
  margin-right: var(--spacing-xxs);

  &::after {
    content: 'X';
    font-size: var(--font-size-sm);
    width: 8px;
    height: 8px;
    position: absolute;
    top: -3px;
    left: 2px;
    color: inherit;
  }

  &:focus,
  &:active,
  &:hover {
    color: var(--gray-900);
    border-color: var(--gray-900);
  }
}

.adressesList {
  padding: var(--spacing-xs) var(--spacing-sm);
}
.emailList {
  font-size: var(--font-size-sm);
  padding: var(--spacing-xxs) 0;

  &:not(:last-of-type) {
    border-bottom: var(--border-divider);
  }
}

.mergableCell {
  @include flex-between;

  & .checkboxContainer {
    margin-right: var(--spacing-xxxs);

  }
}


.confirmButton{
  border-radius: 4px;
  margin-left: var(--spacing-xxs);
}