.addressContainer {
  margin-top: var(--spacing-xs);
  font-size: 0.95rem;
  line-height: 1rem;
  color: var(--gray-700);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:last-of-type) {
    padding-bottom: var(--spacing-xs);
    border-bottom: 1px solid var(--gray-400);

    &.default {
      border-bottom-color: var(--gray-600);
    }
  }

  &:first-of-type {
    margin-top: var(--spacing-sm);
  }
}

.address {
  margin-bottom: var(--spacing-xxxs);

  &.default {
    font-weight: bold;
  }
}

.country {
  margin-bottom: var(--spacing-xxxs);

  &.default {
    font-weight: lighter;
  }
}

.phone,
.fax {
  font-weight: lighter;
  margin-bottom: var(--spacing-xxxs);

  & span {
    font-weight: 800;
  }
}

.phoneAndFaxContainer {
  margin-top: var(--spacing-xxxs);
}
