@import '../../../../styles/mixins';
.button {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include button-variants;

  /* SIZES */

  &.xxxs {
    padding: var(--spacing-xxxs);
  }
  &.xxs {
    padding: var(--spacing-xxs);
    min-width: 30px;
    min-height: 30px;
    font-size: var(--font-size-sm);
  }
  &.xs {
    padding: var(--spacing-xs);
  }
  //&.sm {
  //  padding: var(--spacing-sm);
  //}
  //&.sm {
  //  padding: var(--spacing-md);
  //}
  //&.sm {
  //  padding: var(--spacing-lg);
  //}
}
