@import '../../../../styles/mixins';
.button {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include button-variants;

  &.square {
    border-radius: var(--border-radius-sm);
    padding: 2px;
    background: #eaeaea;

    &.xxxs {
      width: 22px;
      height: 22px;
    }
  }

  /* SIZES */

  &.xxxxs {
    padding: 0;
  }

  &.xxxs {
    padding: var(--spacing-xxxs);
  }
  &.xxs {
    padding: var(--spacing-xxs);
    min-width: 30px;
    min-height: 30px;
    font-size: var(--font-size-sm);
  }
  &.xs {
    padding: var(--spacing-xs);
  }
}
