.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  line-height: var(--font-size-xs);

  &.square {
    border-radius: var(--border-radius-sm)
  }
}

.initials {
  user-select: none;
}
