@import '../../../../styles/mixins';
.layout {
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  padding: var(--spacing-xxxl) var(--spacing-sm) var(--spacing-sm);
  display: grid;

  @include mobile-to-tablet {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
      'backButton'
      'idCard'
      'details'
      'timeline'
      'notes';
  }

  @include min-tablet {
    grid-template-columns: 50px 1fr;
    grid-template-rows: min-content 1fr 1fr 250px;
    grid-template-areas:
      'backButton idCard'
      'backButton details'
      'timeline timeline'
      'notes notes';
    grid-gap: 24px;
  }

  @include min-desktop {
    grid-template-columns: 35px 250px 4fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      'backButton idCard timeline'
      'backButton details timeline'
      'backButton details notes';
    grid-gap: 44px;
    padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl);

  }
}

.backButton {
  grid-area: backButton;
  margin-top: 5px;
}
