@import '../../../../styles/mixins';

.emailAutocomplete {
  @include input-style;
  border: var(--border-divider);
  display: flex;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:focus,
  &:active,
  &:hover {
    border: var(--border-divider);
    border-radius: 0;
  }
}

.label {
  font-weight: bold;
  margin-right: 8px;
}
.selectedEmail {
  word-break: keep-all;
  white-space: nowrap;
  margin-right: 4px;
  &:not(:last-of-type)::after {
    content: ',';
  }
}
.selectedEmailsList {
  display: flex;
  flex-wrap: wrap;
}

.subjectWrapper {
  @include input-style;
  border: var(--border-divider);
  display: flex;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  cursor: not-allowed; // remove when it will be editable

  &:focus,
  &:active,
  &:hover {
    border: var(--border-divider);
    display: flex;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }
}

.subject {
  @include flex-center;
  flex: 1;
}

.subjectInput {
  border: none;
  font-weight: normal;
  margin-left: 8px;
  width: 100%;

  &:focus {
    outline: none;
  }
  &:disabled {
    background: white;
    color: initial;
  }
}

.autocompleteWithResults {
  display: flex;
  flex-wrap: wrap;
}
