.button {
  padding: 12px;
  margin-bottom: 8px;
  background: #d7d5fa;
  color: #525252;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover,
  &:focus,
  &:active {
    background: #bdbbec;
  }
}
