@import "styles/mixins";

.wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: block;

  &:not(:last-of-type) {
    margin-bottom: var(--spacing-sm)
  }
}

.input {
  @include input-style;
}


.icon {
  position: absolute;
  right: 10px;
  top: 5px;
}
