.actionContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: self-start;
  justify-content: space-between;
  flex: 1;
  line-height: 1.5rem;
  margin-left: 20px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.actionDevice {
  margin-top: var(--spacing-xxxs);
  color: var(--gray-600);
}

.x {
  align-items: center;
  display: flex;
}
