@import "styles/mixins";
.option {
  display: flex;
  align-items: center;
  flex: 1 1;
  cursor: pointer;
}

.tagInputWrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0 var(--spacing-xxs);
  border-radius: var(--border-radius-lg);
  border: 1px solid #ccc;
  background: white;
  position: relative;

  &:focus-within {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: #6366f1;
  }

  & .optionsList {
    display: none;
  }
}

.tagsList {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: var(--spacing-xxxs) var(--spacing-xxxs) 0 0;

  li {
    @include tag;
  }

  &.tagListPresentation {
    margin: 0;
  }
}

.tagListItem {
  display: flex;
  flex:1;
  justify-content: space-between;
  align-content: center;
  font-size: var(--font-size-xs);

  &:hover,
  &:focus,
  &:active {
    background: var(--secondary-color)
  }
}

.autocomplete {
  display: flex;
  position: relative;
  flex: 1;

  & ul {
    width: 100%;
    border: none !important;
  }
}

.deleteButton {
  margin-left: var(--spacing-xxs);
  color: var(--gray-700);
}

.tag {
  cursor: pointer;
}
