@import 'styles/mixins';

.container {
  & label {
    font-size: var(--font-size-sm);
    font-weight: normal;
    color: var(--text-faded);
  }
}
.searchModalWrapper {
  background: #fff;
  padding: var(--spacing-sm);
}
.searchModalTrigger {
  @include input-style;

  padding: 0 var(--spacing-xxxs);
  margin-bottom: 0;
  margin-top: 0;
}

.optionsContainer {
  background: #fff;
  max-height: 400px;
  overflow: scroll;
}

.filterOption {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}

.option {
  display: flex;
  align-items: center;
  padding: var(--spacing-xxs);
  font-size: var(--font-size-xs);
  margin-right: var(--spacing-xxs);
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;

  &:focus,
  &:active,
  &:hover {
    background: var(--side-panel-item-hovered);
    transition: 0.5s ease;
  }
  &::before {
    transition: 0.5s ease;
    content: '';
    position: absolute;
    left: -1.2rem;
    height: 100%;
    border-left: 3px solid var(--white-color);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
  }
}

.filtersContainer {
  display: flex;
  align-items: end;
  padding: var(--spacing-xxs);
}

.filterInput {
  margin-right: var(--spacing-xs);
}
