.invoice-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 22.5cm;
  height: 22.5cm;
  align-items: center;
  flex-direction: column;
}
.invoice-invoice-printed {
  width: 780px;
  height: auto;
  display: flex;
  padding: 16px 20px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.invoice-invoice-full {
  min-width: 360px;
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-header {
  gap: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-header-frame {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.invoice-title-container {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.invoice-text-title {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 38px;
}
.invoice-number {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Barlow;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.invoice-number-container {
  gap: 8px;
  display: flex;
  padding: 0 0 4px;
  align-items: flex-end;
}
.invoice-logo-container {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-company-logo {
  max-width: 135px;
  max-height: 64px;
  display: block;
  margin-left: auto;
}
.invoice-preview-container {
  display: flex;
  margin-top: 6px;
  margin-left: 16px;
}
.invoice-preview-logo {
  transform: rotate(-10deg);
  display: block;
  width: 95px;
}
.invoice-issued-info-frame {
  gap: 40px;
  align-self: stretch;
  flex-direction: column;
}
.invoice-issued-info-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0.5px 0;
}
.invoice-dates {
  gap: 5px;
  display: flex;
  padding: 8px 0px;
  width: 105px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-issued-container {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-title-2 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-title-2-right {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.invoice-text {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.line-height-14 {
  line-height: 14px;
}
.invoice-text-left {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
  flex-grow: 1;
}
.invoice-text-right {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: right;
  line-height: 20px;
  flex-grow: 1;
}
.invoice-printed-to {
  gap: 4px;
  display: flex;
  width: 340px;
  padding: 8px 8px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0.5px;
  flex-direction: column;
}
.invoice-title-3 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-subtitle-3 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-printed-from {
  gap: 4px;
  display: flex;
  width: 340px;
  padding: 8px 8px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-300);
  flex-direction: column;
}
.invoice-printed-text022 {
  color: var(--dl-color-gray-500);
  width: 151px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-items-frame {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
.invoice-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.invoice-sli-name-column {
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  padding: 0 0 8px 0;

  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px;
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
  box-sizing: border-box;
}

.invoice-printed-frame44408 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.invoice-printed-column {
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px;
  box-sizing: border-box;
  padding: 0 16px 8px 0;
}
.invoice-printed-column1 {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex: 1 0 33%;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px;
  text-align: right;
  color: var(--dl-color-gray-700);
  height: auto;
  line-height: 20px;
  padding: 0px 16px 8px 24px;
  box-sizing: border-box;
}

.invoice-with-vat-column-size {
  flex: 1 0 25%!important;
}

.pr-0 {
    padding-right: 0px;
}

.invoice-printed-text032 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.invoice-printed-tableheadercell2 {
  gap: 12px;
  display: flex;
  padding: 0 16px 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px;
  justify-content: flex-end;
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.invoice-printed-tablecell2 {
  display: flex;
  padding: 8px 16px 8px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px;
  justify-content: flex-end;
}
.invoice-printed-textandsupportingtext2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-printed-text036 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.invoice-printed-text038 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-printed-tablecell3 {
  display: flex;
  padding: 8px 0 8px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px;
  justify-content: flex-end;
}
.invoice-printed-textandsupportingtext3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-subtotal-frame {
  gap: 4px;
  width: 40%;
  display: flex;
  padding: 0 0 0 12px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.invoice-subtotal-container {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0.5px 0;
  padding-bottom: 5px;
}
.invoice-printed-text042 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-printed-line {
  width: 100%;
  height: 1px;
  align-self: stretch;
}
.invoice-printed-frame3622 {
  gap: 134px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.invoice-title-4 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-printed-due {
  margin-top: -4px;
  display: flex;
  padding: 8px 0 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px 0 1px 0;
  justify-content: space-between;
}
.invoice-printed-amount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.invoice-printed-text060 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.invoice-printed-text062 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: right;
  line-height: 20px;
}
.invoice-printed-due1 {
  gap: 48px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.invoice-printed-amount1 {
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.invoice-payment-text {
  color: var(--dl-color-primary-600);
  height: auto;
  text-align: left;
  line-height: 20px;
  flex-grow: 1;
}
.invoice-external-link {
  width: 12px;
  height: 12px;
  display: inline;
  stroke: var(--dl-color-primary-600);
}
.invoice-printed-frame3625 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.invoice-printed-text066 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.invoice-note-text {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.invoice-printed-frame44433 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.invoice-printed-frame3615 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  padding: 8px 12px;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0.5px 0 0 0;
}
.invoice-printed-dates1 {
  gap: 2px;
  display: flex;
  padding: 8px 0 0 0;
  width: 50%;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.invoice-payment-details-header-container {
  gap: 4px;
  display: flex;
  padding: 0 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.invoice-payment-details-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.invoice-printed-dates2 {
  gap: 2px;
  display: flex;
  padding: 8px 0 8px 12px;
  width: 50%;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0 0 0 0.5px;
}
.invoice-footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-color: var(--dl-color-gray-300);
  border-style: solid;
  border-width: 0.5px 0 0 0;
  padding-top: 16px;
}
.invoice-printed-customeros {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.invoice-printed-customer-os {
  width: 16px;
  height: 16px;
}
.invoice-customeros-logo {
  gap: 6px;
  color: var(--dl-color-gray-500);
  text-align: left;
  line-height: 18px;
}
.invoice-customeros-text {
  padding-left: 6px;
  color: var(--dl-color-gray-500);
  height: auto;
  font-stretch: normal;
}
.invoice-question-text {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: right;
  text-decoration: underline;
  flex-grow: 1;
}
.no-border-bottom {
    border-bottom: 0;
}
.underline {
  text-decoration: underline;
}