name: Build and publish customer-os-analytics-api

on:
  push:
    paths:
      - packages/server/customer-os-analytics-api/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/analytics-api

permissions:
  contents: read
  pull-requests: read
  packages: write

defaults:
  run:
    working-directory: packages/server/customer-os-analytics-api

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build
        run: go build -v

      - name: Test
        run: go test ./... -v

  publish:
    name: publish image
    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REPOSITORY_READ_WRITE_USERNAME }}
          password: ${{ secrets.REPOSITORY_READ_WRITE_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Push Docker image
        uses: docker/build-push-action@v3
        with:
          context: packages/server/customer-os-analytics-api/.
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}