.timelineItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  line-height: 1.3rem;
  font-size: 1rem;
}

.last {
  margin-bottom: 24px;
}

.timelineLine {
  width: 1px;
  background: var(--gray-400);

  &:first-of-type {
    height: 24px;
    margin-bottom: 4px;
  }

  &:not(:first-of-type) {
    height: 12px;
    margin-top: 4px;
  }
}

.content {
  background: #fff;
  padding: 16px 24px;

  border-radius: 6px;
  border: 1px solid var(--gray-300);
  width: 100%;
  position: relative;
}
